.adoptar-background {
    display: flex;
}

.text-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.container {

    width: 500px;
    height: 425px;
    background-color: #43a3b6;
    border-radius: 15px;
    /* Ajusta este valor para cambiar la curvatura */
    padding: 20px;
    margin: 20px auto;
}

.container1 {
    width: 500px;
    height: 425px;
    background-color: #004aad;
    border-radius: 15px;
    /* Ajusta este valor para cambiar la curvatura */
    padding: 20px;
    margin: auto;
}

.parrafo-adoptar {
    color: rgb(253, 251, 251);
    font-size: large;
    font-weight: normal;

}

.textadoptar {
    text-align: center;
    font-size: 50px;

}

.textcontainer {
    font-size: 30px;
    padding-top: 20px;
    border-left: auto;
    border-right: auto;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

.iconperro {
    height: 200px;
    padding-left: 305px;

}

.h4 {
    border-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size-adjust: 200px;


}

p {
    font-size: x-large;
    color: #574757;
    font-family: 'Open Sans', sans-serif;
}