.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #ddd;
 }

.gestion {
  font-size: 3em;
}

.gestion-buttons {
  display: flex;
  gap: 10px;
}

.gestion-buttons button {
  background-color: #4bb5cd;
  color: white;
  border: none;
  border-radius: 50px;
  width: 45px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gestion-buttons button:hover {
  background-color: #003a99;
}

.gestion-buttons button svg {
  margin-right: 5px;
}