.home-background {
    height: calc(100vh - 120px);
    background-image: url('../../public/HomeBackground.png');
    background-position: cover;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;

}