.mascotas-container {
    text-align: center;
}

h1 {
    color: #004AAD;
    font-size: 60px;
}

.mascotas-links {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 40px;

}

.mascota-card {
    position: relative;
    
}

.mascota-card img {
    width: 350px;
    height: 350px;
    object-fit: cover;   
    transition: transform 0.3s ease;
    padding-bottom: 40px;


}

.mascota-card img:hover {
    transform: scale(1.05);
}

.mascota-link {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    font-size: 25px;
    color: hsl(0, 0%, 22%);
    text-decoration: none;
    font-weight: bold;
}

.adopt-button {
    background-color: #004AAD;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adopt-button:hover {
    background-color: hsl(214, 98%, 38%);

}