.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.signup {
    background-color: #4bb5cb;
    padding: 20px;
    /* Aumenta el espacio interno del formulario */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ancho máximo del formulario */
    width: 60%;
    /* Garantiza que ocupe todo el espacio disponible */
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.form-title {
    text-align: center;
    color: rgb(46, 46, 46);
    margin-bottom: 5px;
    /* Espacio inferior para separar del contenido siguiente */
}

.form-label {
    color: #003a99;
    font-weight: bold;
    text-align: left;
    width: 70%;
}

.label-registro {
    font-weight: bold;
    align-self: self-start;
    margin-left: 165px;

}







.form-input2 {
    width: 70%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    /* Espacio inferior para separar los campos */
}

.form-input3 {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px;
    /* Espacio inferior para separar los campos */
}

.form-error {
    color: rgb(46, 46, 46);
    font-size: 16px;
    text-align: center;
}

.form-button {
    background-color: #0044ad;
    color: white;
    border: none;
    border-radius: 22px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    margin-top: 5px;
    /* Espacio superior para separar del contenido anterior */
}

.form-button:hover {
    background-color: #003a99;
}

.form-text-final {
    color: rgb(46, 46, 46);
    text-align: center;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
}

.form-link {
    color: rgb(46, 46, 46);
    cursor: pointer;
    text-decoration: underline;
}

.pass {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 70%;
}

.divPass {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%
}

textarea {
    resize: none;
}