#header{
    width: 100vw;
    background-color: rgb(220, 243, 243);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#powerOff{
    color: red;
    width: 100px;
    height: 100px;
    cursor: pointer;
}